.sidebar {
  width: 256px;
  height: calc(100vh - 64px);
  background-color: #fff;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 64px;
  left: 0;

  &.collapsed {
    width: 65px;
  }

  @media (min-width: 768px) {
    position: fixed;
  }
}

.nav {
  flex: 1;
  padding-top: 6px;
}

.navItem {
  display: flex;
  align-items: center;
  padding: .75rem 16px;
  color: #202124;
  text-decoration: none;
  border-radius: 0 25px 25px 0;
  border: 1px solid transparent;

  &:hover {
    background-color: rgb(254, 239, 195);
  }

  &.active {
    background-color: rgb(254, 239, 195);
  }
}

.icon {
  color: #5f6368;
}

.label {
  margin-left: 20px;
  font-size: .875rem;
  overflow: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, width 0.3s ease;
  font-weight: 500;
}

.sidebar.collapsed .label {
  opacity: 0;
  width: 0;
  margin-left: 0;
}
